<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<p>Current weather in {{ townName }}</p>
<p>Status: {{ result }}</p>
<p>Station id: {{ station_id }}</p>
<p>Station: {{ station }}</p>
<p>Measurement date: {{ measurement_date }}</p>
<p>Measurement time: {{ measurement_time }}</p>
<p>Temperature: {{ temperature }}</p>
<p>Wind speed: {{ wind_speed }}</p>
<p>Wind direction: {{ wind_direction }}</p>
<p>Humidity: {{ humidity }}</p>
<p>Rainfall: {{ rainfall }}</p>
<p>Pressure: {{ pressure }}</p>
</body>
</html>